form{
    margin-top: 5px;
    padding: 15px;
    color: white;
    display: block;
    text-align: center;
    background: black;
    
}

form .inputCadastro{
    padding: 10px;
    font-size: x-larger;
}

form .inputCadastro input{
    border: none;
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    
}

form button{
    background: blueviolet;
    width: 55px;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    color: white;
    
}
form button:hover{
    background:  rgb(79, 23, 131);
}
